.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

button,
.notification_not_allowed {
    padding: 12px;
    border-radius: 4px;
    background-color: #61dafb;
    color: black;
    font-size: 12px;
    border: 0px;
    cursor: pointer;
    margin: 10px;
}
button:disabled,
button[disabled] {
    cursor: not-allowed;
    background-color: #61dafbbb;
}

.notification_not_allowed {
    margin: 60px auto;
    cursor: default;
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row;
        margin-top: 30px;
    }
}
@media (min-width: 1024px) {
    .button-container {
        margin-top: 20px;
    }
    button,
    .notification_not_allowed {
        font-size: 16px;
    }
}
@media (min-width: 1440px) {
    button,
    .notification_not_allowed {
        font-size: 18px;
    }
}
