.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buttons {
    margin: 60px auto;
}

.register-button,
.unregister-button,
.subscribe-button,
.unsubscribe-button {
    padding: 12px;
    border-radius: 4px;
    background-color: #61dafb;
    color: black;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
}

.unregister-button,
.unsubscribe-button {
    margin-left: 20px;
}

.button-container {
    margin-top: 20px;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
    background-color: #61dafbbb;
}
